* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body {
    font-family: 'Old Standard TT', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    background-color: #171511;
}

h1, h2, h3 {
    color: rgba(255, 174, 43, 1);
}

h1 {
    font-size: 5rem;
    line-height: 5.7rem;
    color: white;
}

h2 {
    font-size: 4.2rem;
    line-height: 5rem;
}

span, p {
    color: rgba(172, 165, 146, 1);
}

.btn-header {
    border: 1px solid #FFAE2B;
    color: #FFAE2B;
    border-radius: 0;
}

.first {
    height: 65vh;
    background-image: url("../images/sec-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.first p {
    color: #FFAE2B;
    text-shadow: 1px 1px 1px black;
}

.first h1 {
    text-shadow: 1px 1px 1px black;
}

.item {
    background-color: #171511;
    border: 1px solid #4B4136;
    text-align: center;
}

.item img {
    filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.6));
}

.item p {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-dark .navbar-brand {
    color: #FFAE2B;
}

.navbar-dark .nav-link {
    color: #ACA592;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFAE2B;
}

.section-1 .btn{
    background-color: #FFAE2B;
    color: black;
}

.section {
    padding-bottom: 8.6em;
}

.section-2, .section-3 {
    padding-top: 8.6em;
}

.services div {
    height: 25em;
    border: 1px solid #4B4136;
}

.services span {
    font-size: 0.8rem;
}

.section-5 .col {
    padding: 0 0 0 1px;
}

.section-5 .follow-container {
    min-height: 170px;
    min-width: 170px;
}
.section-5 .btn{
    background-color: #FFAE2B;
}
.section-5 a{
    color: black;
    text-decoration: none;
}


.insta-follow {
    background-image: url("../images/insta-big.svg");
    top: 20%;
    left: 25%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.insta-icon:before {
    content: '';
    position: absolute;
    top: -25px;
    background-image: url("../images/sec-5_img-before.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.subscribe {
    background-color: #171511;
    border: 1px solid #FFAE2B;
}

.section-6 .btn {
    height: 4em;
    width: 4em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: inherit;
}

.fb {
    background-image: url("../images/sec-6_img-1.svg");
}

.twitter {
    background-image: url("../images/sec-6_img-2.svg");
}

.instagram {
    background-image: url("../images/sec-6_img-3.svg");
}

.linkedin {
    background-image: url("../images/sec-6_img-4.svg");
}

button.btn.fb:hover {
    border: 1px solid #FFAE2B !important;
}

button.btn.instagram:hover {
    border: 1px solid #FFAE2B !important;
}

button.btn.twitter:hover {
    border: 1px solid #FFAE2B !important;
}

button.btn.linkedin:hover {
    border: 1px solid #FFAE2B !important;
}

.section-6 span, a {
    color: #FFAE2B;
}

.subscribe-header {
    margin-bottom: 5.85em;
}

.subscribe .btn {
    color: #FFAE2B;
}

.subscribe:hover {
    background-color: #FFAE2B;
}

.subscribe:hover .btn {
    color: black;
}

footer ul {
    list-style: none;
    color: #FFAE2B;
}

footer span {
    color: #FFAE2B;
}

footer li {
    border-right: 1px solid #4B4136;
    white-space: nowrap;
}

footer a {
    text-decoration: none;
}
@media screen and (max-width: 1024px) {
    .insta-follow {
        top: 30%;
        left: 15%;
    }
}

@media screen and (max-width: 768px) {
    html body {
        font-size: 12px;
        line-height: 24px;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 3rem;
    }

    .insta-follow {
        top: 20%;
        left: 28%;
    }
}

@media screen and (max-width: 425px) {
    html body {
        font-size: 11px;
        line-height: 22px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2.3rem;
    }
    .insta-follow {
        top: 20%;
        left: 28%;
    }
}
@media screen and (max-width: 375px) {
    .insta-follow {
        top: 20%;
        left: 25%;
    }
}

